.jobTemplate a {
  font-weight: bold;

  text-decoration: underline;
}

.jobTemplate a:hover {
  font-weight: normal;
  color: #000000;
  text-decoration: underline;
}

.backLink {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
  text-decoration: underline;
}

.backLink:hover {
  text-decoration: none;
  font-weight: normal;
}

.pdfSection {
  padding-top: 20px;
  padding-bottom: 44px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  padding-top: 37px;
  padding-bottom: 10px;
}
