.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  text-align: left;
  color: white;
  background: #686F86;
  /*background-image: url('');*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 2em;
  margin-bottom: 0em;
}

.hero a {
  padding: 0;
  color: #ffffff;
  font-size: 1.6em;
}

.hero a:hover {
  color: #ffffff;
  opacity: 0.5;
}
