.secondaryHero {
  background-color: #4C5367;

}

.slider {
  min-height: 480px;
}

.slide {
  min-height: 480px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
}

.dots button {
  padding: 0px;
  background: transparent;
  border: none;
}

.dots button:before {
  margin: 0px 9px;
  content: ' \25CF';
  font-size: 26px;
  color: #D8D8D8;
}

.dots button:disabled {
  opacity: 0.22;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-5%);
  display: none;
  background: none;
  border: none;
  height: 90px;
  width: 50px;
  margin-right: 10px;
}

.backButton {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-5%);
  display: none;
  background: none;
  border: none;
  height: 90px;
  width: 50px;
  margin-left: 10px;
}

.backButton:disabled {
  display: none;
}

.nextButton:disabled {
  display: none;
}

.chevronArrowLeft {
  display: inline-block;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 25px;
  height: 25px;
  transform: rotate(-225deg);
}

.chevronArrowRight {
  display: inline-block;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 25px;
  height: 25px;
  transform: rotate(-45deg);
}

.overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 15px;
  padding-left: 15px;
}

.headline {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: -1.83px;
  padding-bottom: 14px;
  line-height: 50px;
}

.callToAction {
  overflow: hidden;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 10px 33px;
}

.callToAction:hover {
  border: 2px solid #FFF;
  opacity: 0.8;
  background-color: #FFF;
  color: black;
}

@media (min-width: 992px) {
  .slider {
    max-height: 800px;
  }

  .slide {
    max-height: 800px;
  }

  .slideInner {
    max-height: 800px;
  }

  .headline {
    font-size: 72px;
    letter-spacing: -3.42px;
    padding-bottom: 20px;
    max-width: 520px;
    line-height: 84px;
  }

  .nextButton {
    display: block;
  }

  .backButton {
    display: block;
  }

  .callToAction {
    padding: 14px 53px;
  }
}
