.imageTiles {
  padding-bottom: 130px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  line-height: 38px;
  color: #000000;
  padding-bottom: 15px;
}

.rowOne {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 4px;
  width: 120%;
  margin-left: -50px;
  overflow: hidden;
}

.rowTwo {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 4px;
  width: 120%;
  margin-left: -100px;
  overflow: hidden;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-height: 200px;
  object-fit: cover;
}

/* .image,
.slide,
.slider {
  max-height: 200px;
  width: 100%;
} */

.mobileTiles {
  display: none;
}

.nextButton {
  background: none;
  border: none;
  height: 40px;
  width: 27px;
  float: right;
}

.backButton {
  background: none;
  border: none;
  height: 40px;
  width: 27px;
}

.chevronArrowRight {
  display: inline-block;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 12px;
  height: 12px;
  transform: rotate(-45deg);
}

.chevronArrowLeft {
  display: inline-block;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 12px;
  height: 12px;
  transform: rotate(-225deg);
}

.backButton:disabled > div,
.nextButton:disabled > div {
  border-right: 3px solid #C7C7C7 !important;
  border-bottom: 3px solid #C7C7C7 !important;
}

@media screen and (max-width: 768px) {
  .desktopTiles {
    display: none;
  }

  .mobileTiles {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
  }

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .imageTiles {
    padding-bottom: 0px;

  }
}

@media screen and (max-width: 800px) {
  .rowOne {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .rowOne {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
