.image {
	max-height: 230px;
  max-width: 350px;
  padding-bottom: 30px;
}

.body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headline {
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  padding-bottom: 20px;
}

.headlineUnderline {
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
}

.headlineUnderline:before{
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #FFDD00;
}

.callToAction {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 900;
}
