.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;
  color: white;
  background: #686F86;
  /* max-height: 580px; */
}

.heroImage {
  position: absolute !important;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.heroText {
  z-index: 2;
}

.heading {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-top: -150px;
  line-height: 60px;
}

.subheading {
  font-size: 16px;
  font-weight: 900;
}

.btnYellow {
	border-radius: 25px;
	background-color: #FFC400;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #000000;
  padding: 9px 26px 7px 26px;
}

.btnYellow a {
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.ctaText {
  overflow: hidden;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .hero {
    max-height: 800px;
  }

  .btnYellow {
    padding: 15px 32px 13px 32px;
  }

  .heading {
    font-size: 82px;
    line-height: 1em;
    letter-spacing: -2.42px;
    padding-bottom: 30px;
    margin-top: -50px;
  }

  .subheading {
    font-size: 28px;
    line-height: 2em;
    /* padding-bottom: 35px; */
  }

  .ctaText {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    padding: 14px 53px;
  }
}
