.hero {
  color: white;
  background: #4C5367;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  max-height: 80vh;
  text-align: center;
  margin-bottom: 0px;
}

.heading {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: -1px;
  padding-bottom: 30px;
  line-height: 60px;
}

.subheading {
  font-size: 16px;
  font-weight: 900;
}

.btnYellow {
	border-radius: 25px;
	background-color: #FFC400;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #000000;
  padding: 9px 26px 7px 26px;
}

.btnYellow a {
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.ctaText {
  overflow: hidden;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 14px 53px;
}

.ctaText:hover {
  text-decoration: underline;
}

.chevronArrowDown {
  display: flex;
  align-self: flex-end;
  position: absolute;
  right: 50%;
  display: inline-block;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  bottom: 15%;
}

@media (min-width: 768px) {
  .hero {
    max-height: 800px;
    text-align: left;
  }

  .btnYellow {
    padding: 15px 32px 13px 32px;
  }

  .heading {
    font-size: 82px;
    line-height: 90px;
    letter-spacing: -2.42px;
    max-width: 556px;
  }

  .subheading {
    font-size: 28px;
    line-height: 2em;
  }
}
