.productCarouselContainer {
  /* min-height: 358px; */
  padding-top: 43px;
  padding-bottom: 64px;
  padding-left: 15px;
  /* margin-left: auto; */
  margin: 0 auto;
}

.image {
  object-fit: cover;
  /* max-height: 271px;
  max-width: 271px; */
  height: 100%;
  width: 100%;
}

.slideContainer {
  /* max-height: 271px;
  max-width: 271px; */
  min-height: 136px;
  min-width: 136px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.slider {
  padding-bottom: 60px;
}

.slide {
  padding-right: 30px;
  padding-bottom: 20px;
}

.title {
  padding-top: 20px;
}

.carousel {
  height: 100%;
  /* max-height: 250px; */
  /* padding-left: 80px; */
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: none;
  background: none;
  border: none;
  height: 90px;
  width: 50px;
  margin-right: 10px;
}

.backButton {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: none;
  background: none;
  border: none;
  height: 90px;
  width: 50px;
  margin-left: 10px;
}

.chevronArrowLeft {
  display: inline-block;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  width: 30px;
  height: 30px;
  transform: rotate(-225deg);
}

.chevronArrowRight {
  display: inline-block;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

.backButton:disabled {
  opacity: 0.20;
}

.nextButton:disabled {
  opacity: 0.20;
}

@media (min-width: 768px) {
  .carousel {
    padding-left: 80px;
  }

  .backButton,
  .nextButton {
    display: block;
  }
}
