.containerProductFeatures ul {
  list-style-type: none;
  padding-left: 0;
}

.containerProductFeatures li {
  padding-bottom: 15px;
}

.featuresHeadline {
  font-size: 34px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 39px;
}

@media (min-width: 768px) {
  .featuresHeadline {
    font-size: 48px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 69px;
  }
}
