.featuredComponent {
  background-color: #F3F3F5;
}

.featuredContainer {
  color: #000000;
  padding-top: 35px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.71px;
  line-height: 40px;
}

.headline {
  font-size: 34px;
  font-weight: 900;
  padding-bottom: 30px;
}

.body {
  font-size: 14px;
  padding-bottom: 30px;
}

.imageCol {
  order: 2;
}

.imageColRight {
  order: 2;
}

.callToAction {
  border: 2px solid #FFDD00;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  padding: 14px 53px;
  color: #000000 !important;
  background-color: #FFDD00;
  margin-bottom: 40px
}

.callToAction:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .featuredContainer {
    padding-top: 109px;
    padding-bottom: 103px;
  }

  .title {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .image {
    padding-right: 30px;
    padding-bottom: 0px;
  }

  .headline {
  	font-size: 48px;
  }

  .body {
    max-width: 302px;
    font-size: 16px;
    padding-bottom: 0px;
  }

  .imageCol {
    order: unset;
  }

  .imageColRight {
    order: 2;
  }
}
