.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
}

.logo {
  width: 300px;
}

.navbar-light {
  background-color: #4C5367;
}

.navbar-light .nav-item {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}
