.logo {
  width: 250px;
}

.navbar {
  z-index: 1;
  /* opacity: 0.85; */
  background-color: #000000 !important;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.navbar-dark .nav-item, .navbar-dark .nav-link {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.nav-link::after {
  display: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .logo {
    width: 300px;
  }
}
