@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif !important;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #FFFFFF;
  margin: 0;
  /* background-color: #000000 !important; */
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.product-carousel .nav-tabs {
  border-bottom: none;
  padding-bottom: 40px;
  overflow: auto;
  white-space: nowrap;
  flex-wrap: unset;
}

.product-carousel .nav-tabs .nav-link {
  color: black;
  font-weight: normal;
}

.product-carousel .nav-tabs .nav-link:focus {
  font-weight: normal;
  color: black;
}

.product-carousel .nav-tabs .nav-link:hover {
  border-color: #ffffff #ffffff #FDDA02;
  color: black;
  font-weight: bold;
}

.product-carousel .nav-tabs .nav-link.active {
  border-color: #ffffff #ffffff #FDDA02;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .container {
      max-width: none;
  }
}

@media (min-width: 768px) {
  .product-carousel .nav-tabs {
    /* padding-left: 80px; */
  }
}
