.footer {
  height: 100%;
	color: #FFFFFF;
	background-color: #000000;
  padding-bottom: 50px;
}

.footer .logo {
  width: 300px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer .social {
  width: 22px;
  height: 26px;
  margin-left: 20px;
}

.footer .social-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer ul {
  color: #ffffff;
  list-style: none;
  padding-left: 0px;
}

/* .footer li:first-child {
  font-weight: bold;
  padding-bottom: 3rem;
} */
